<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/path_style.css">
    <link rel="stylesheet" href="/font-awesome.css">

    <!--script font-awesome kit-->
    <script src="https://kit.fontawesome.com/7613f810f4.js" crossorigin="anonymous"></script>

    <title>Bootstrap 5</title>
  </head>
  <body>
    
    {{{body}}}
     

    <!-- Option 1: jquery -->
	
    <script src="/jquery.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
   
    <script src="/popper.js"></script>

    <script src="/bootstrap.bundle.js"></script>

    <!-- JavaScript Popover! -->

    <script>

      var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
      var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
      })
      
    </script>

  </body>
</html>
